Web_technology/Lab8/book.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="colont">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="num_page" minOccurs="0"/>
                                        <xs:element type="xs:string" name="topic" minOccurs="0"/>
                                        <xs:element type="xs:string" name="topic1" minOccurs="0"/>
                                        <xs:element type="xs:byte" name="num_page1" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="content">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                        <xs:element type="xs:string" name="image"/>
                                        <xs:element type="xs:string" name="image_description"/>
                                        <xs:element name="big_paragraph">
                                            <xs:complexType mixed="true">
                                                <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                    <xs:element type="xs:string" name="b"/>
                                                    <xs:element type="xs:string" name="br"/>
                                                    <xs:element type="xs:string" name="mono"/>                                                    
                                                    <xs:element name="centered">
                                                        <xs:complexType mixed="true">
                                                            <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                                <xs:element type="xs:string" name="b"/>
                                                                <xs:element type="xs:string" name="br"/>
                                                                <xs:element type="xs:string" name="mono"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="tabbed">
                                                        <xs:complexType mixed="true">
                                                            <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                                <xs:element type="xs:string" name="b"/>
                                                                <xs:element type="xs:string" name="br"/>
                                                                <xs:element type="xs:string" name="mono"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="paragraph">
                                            <xs:complexType mixed="true">
                                                <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                    <xs:element type="xs:string" name="b"/>
                                                    <xs:element type="xs:string" name="br"/>
                                                    <xs:element type="xs:string" name="mono"/>
                                                    <xs:element name="centered">
                                                        <xs:complexType mixed="true">
                                                            <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                                <xs:element type="xs:string" name="b"/>
                                                                <xs:element type="xs:string" name="br"/>
                                                                <xs:element type="xs:string" name="mono"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="tabbed">
                                                        <xs:complexType mixed="true">
                                                            <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                                <xs:element type="xs:string" name="b"/>
                                                                <xs:element type="xs:string" name="br"/>
                                                                <xs:element type="xs:string" name="mono"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="number" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>